<div class="table-responsive">
    <table class="table table-hover" id='dataTable'>
        <thead>
        <tr>
            <th>Email</th>
            <th>Hash</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].email; %></td>
                <td> <%= users[i].hash; %></td>
            </tr>
        <% }; %>
        </tbody>
    </table>
</div>